.file-dialog__input {
    width: 100%;
    background: #3c3c3c;
    color: #cccccc;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.file-dialog__input:focus {
    outline: none;
    border: 1px solid #0075ad;
}
