.toolbar {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
    position: relative;
}

.toolbar__title {
    margin: 2px 0 0 0;
}

.icon-button.icon-button--toolbar {
    width: 30px;
    height: 30px;
    background-size: 24px;
    margin-right: 10px;
}

.icon-button.icon-button--toolbar:last-child {
    margin-left: auto;
}

.icon-button.icon-button--toolbar:first-child:before {
    margin-left: -20px;
}

.icon-button.icon-button--toolbar:last-child:before {
    margin-left: -90px;
}

.icon-button.icon-button--toolbar:not(:disabled):hover {
    background-size: 30px;
}

.toolbar__separator {
    height: 28px;
    margin-right: 10px;
    border-right: 2px solid rgba(255, 255, 255, 0.6);
}
