.prompt-dialog__input {
    width: 100%;
    background: #3c3c3c;
    color: #cccccc;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.prompt-dialog__input:focus {
    outline: none;
    border: 1px solid #0075ad;
}

.prompt-dialog__hint--is-invalid {
    color: red;
}

.prompt-dialog__text {
    padding: 5px;
}
