.translation-table-body {
    position: relative;
    flex-grow: 1;
    padding: 10px;
    overflow-x: auto;
    overflow-y: scroll;
    box-sizing: border-box;
}

.translation-table-body__table {
    width: 100%;
}

.translation-table-body__th {
    color: #ec7a30;
    padding-top: 10px;
    border-bottom: 1px solid #ec7a30;
    font-family: monospace;
}

.translation-table-body__th:first-child {
    text-align: left;
}

.translation-table-body__td:nth-child(2),
.translation-table-body__td:nth-child(3) {
    min-width: 100px;
    width: 50%;
    overflow: hidden;
}

.translation-table-body__td {
    vertical-align: top;
    position: relative;
}

.translation-table-body__td:first-child {
    border-bottom: 1px solid #313131;
    font-family: monospace;
}

.translation-table-body__td:not(:first-child) {
    padding: 5px;
    background: #333333;
    cursor: text;
}
