.translation-editor {
    min-height: 10px;
    box-sizing: border-box;
    display: inline;
    border: none;
    background: #333333;
    color: #ec7a30;
    font: 14px monospace;
    white-space: pre-wrap;
    word-break: break-all;
    z-index: 10;
}
.translation-editor--is-empty {
    display: block;
}

.translation-editor:focus {
    outline: none;
}

.translation-editor-outline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    pointer-events: none;
}
.translation-editor:focus + .translation-editor-outline {
    border-color: #0075ad;
}

.translation-editor--is-modified + .translation-editor-outline {
    box-shadow: inset -3px 0px 0px 0px red;
}

.translation-editor--is-rtl {
    direction: rtl;
}
