.translation-table-head {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    padding-right: 27px;
    display: flex;
    flex-direction: row;
}

.translation-table-head__cell {
    flex-grow: 1;
    width: calc(100% / 3);
    margin-left: 3px;
}

.translation-table-head__cell:first-child {
    text-align: left;
    border-bottom: 1px solid #313131;
    font-weight: bold;
    margin-left: 0;
}
