.markdown-preview {
    display: none;
    width: 30%;
    flex-shrink: 0;
    overflow: auto;
    padding: 10px;
    border-left: 1px solid #5a5a5a;
    box-sizing: border-box;
}

.markdown-preview--is-visible {
    display: block;
}

.markdown-preview--is-rtl {
    direction: rtl;
}

.markdown-preview__title {
    margin-top: 5px;
}
