.select-dialog__select {
    width: 100%;
    background: #3c3c3c;
    color: #cccccc;
    border: none;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.select-dialog__select:focus {
    outline: none;
    border: 1px solid #0075ad;
}
